defaults: &defaults
  facebook_app_id: 
  facebook_app_secret:
  google_app_id:
  google_app_secret:
  twitter_app_id:
  twitter_app_secret:
  meetup_app_id:
  meetup_app_secret:
  linkedin_app_id:
  linkedin_app_secret:
  parma_app_id:
  parma_app_secret:
  app_short_name: "Airesis"
  app_long_name: "Airesis - Scegli di partecipare"
  app_email_address: "info@airesis.it"
  newsletter:
     from_address: "Newsletter <newsletter@testairesis.com>"
     twitter_url: "http://twitter.com/#!/democracyo"
     facebook_url: "https://www.facebook.com/democracyonline"
     google_plus_url: "https://plus.google.com/b/108270340723482080584/108270340723482080584"
     preferences_url :"http://www.airesis.it/users/alarm_preferences"
     home_url: "www.airesis.it"
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
 