MAPS_API_KEY=""



EMAIL_ADDRESS=""
EMAIL_USERNAME=""
EMAIL_PASSWORD=""

RECAPTCHA_PUBLIC=""
RECAPTCHA_PRIVATE=""

GEOSPATIAL_NAME=""




ERROR_SENDER="coorasse+notifier@gmail.com"

#can also be a list of addresses separated by comma
ERROR_RECEIVER="coorasse+exceptions@gmail.com"

MAILER_DEFAULT_HOST='airesisdev.it:3000'



# Load the rails application
require File.expand_path('../application', __FILE__)

# Initialize the rails application
Airesis::Application.initialize!

require 'will_paginate'

#OmniAuth.config.test_mode = true

